<div class="contact flex flex-column flex-center">
  <h1 class='title mt3 mb3'>Couldn't find your answer?</h1>
  <div class='flex flex-content-center flex-wrap mb4'>
    <div class='sap-ans-content p2'>
      <div class='sap-ans-title mb1 ml1 c-blue-500'>Ask the community</div>
      <div class='sap-ans-description'>
        Join SAP Answers and get some help from our team and the community for your technical questions.
      </div>
      <div class='mt3 flex flex-content-start'>
        <a href='https://answers.sap.com/tags/73555000100800001301' target='_blank'>
          <div class="btn btn-secondary success">
            Go to SAP Answers
          </div>
        </a>
      </div>
    </div>

    <div class='contact-content p2'>
      <div class='contact-title mb1 ml1 c-blue-500'>Contact Us</div>
      <div class='contact-description'>
        Drop us a line and our support team will get back to you as soon as possible
      </div>
      <div class='mt3 flex flex-content-start'>
        <a href="https://cai.tools.sap/contact">
          <div class="btn btn-secondary success">
            Email us
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
