<div class="contact flex flex-column flex-center">
  <h1 class='title mt3 mb3'>Couldn't find your answer?</h1>
  <div class='flex flex-content-center flex-wrap mb4'>
    <div class='slack-content mr4 p2'>
      <div class='flex'>
        <img class='slack-logo' src='https://cdn.recast.ai/website/enterprise/slack-logo.png' alt='Slack'/>
        <span class='slack-title mb1 ml1 c-teal-500'>Ask the community</span>
      </div>
      <div class='slack-description'>
        Join the Recast.AI Slack community to find answers, share what you've built, and discover new tips every day!
      </div>
      <div class='mt3 flex flex-content-end'>
        <a href='https://recastai-community.slack.com/' target='_blank'>
          <div class="btn btn-secondary success mr2">
            Go to Slack
          </div>
        </a>
        <a href='https://slack.recast.ai/' target='_blank'>
          <div class="btn btn-primary">
            Get your invitation
          </div>
        </a>
      </div>
    </div>


    <div class='contact-content p2'>
      <div class='contact-title mb1 ml1 c-blue-500'>Contact Us</div>
      <div class='contact-description'>
        Drop us a line and our support team will get back to you as soon as possible
      </div>
      <div class='mt3 flex flex-content-start'>
        <a href="mailto:hello@recast.ai">
          <div class="btn btn-secondary success">
            Email us
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
