<footer class="Footer">
  <div class="Footer-top">
    <div class="container flex flex-content-between">
      <div class="px1">
        <p class="Footer-top-title">{{ site.data.footer.sections[0].title }}</p>
        <div class="Footer-top-content">
          {% for item in site.data.footer.sections[0].sections %}
          {% if item.external %}
          <a class="Footer-top-link" target="_blank" rel="noopener noreferrer" href="{{ item.url }}">
            {{ item.title }}
          </a>
          {% else %}
          <a class="Footer-top-link" href="{{ site.baseurl}}{{ item.url }}">
            {{ item.title }}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="px1">
        <p class="Footer-top-title">{{ site.data.footer.sections[1].title }}</p>
        <div class="Footer-top-content">
          {% for item in site.data.footer.sections[1].sections %}
          {% if item.external %}
          <a class="Footer-top-link" target="_blank" rel="noopener noreferrer" href="{{ item.url }}">
            {{ item.title }}
          </a>
          {% else %}
          <a class="Footer-top-link" href="{{ site.baseurl}}{{ item.url }}">
            {{ item.title }}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="px1">
        <p class="Footer-top-title">{{ site.data.footer.sections[2].title }}</p>
        <div class="Footer-top-content">
          {% for item in site.data.footer.sections[2].sections %}
          {% if item.external %}
          <a class="Footer-top-link" target="_blank" rel="noopener noreferrer" href="{{ item.url }}">
            {{ item.title }}
          </a>
          {% else %}
          <a class="Footer-top-link" href="{{ site.baseurl}}{{ item.url }}">
            {{ item.title }}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="px1">
        <p class="Footer-top-title">{{ site.data.footer.sections[3].title }}</p>
        <div class="Footer-top-content">
          {% for item in site.data.footer.sections[3].sections %}
          {% if item.external %}
          <a class="Footer-top-link" target="_blank" rel="noopener noreferrer" href="{{ item.url }}">
            {{ item.title }}
          </a>
          {% else %}
          <a class="Footer-top-link" href="{{ site.baseurl}}{{ item.url }}">
            {{ item.title }}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="Footer-bottom">
    <div class='container flex flex-content-between'>
      <div>
        <a target="_blank" rel="noopener noreferrer" href="https://cdn.cai.tools.sap/privacy-policy" class="Footer-bottom-link">
          Privacy policy
        </a>
        -
        <a target="_blank" rel="noopener noreferrer" href="https://cdn.cai.tools.sap/terms" class="Footer-bottom-link">
          Terms
        </a>
      </div>

      <div class="Footer-bottom-logos">
        {% for item in site.data.footer.logos %}
        <a
            target="_blank"
            rel="noopener noreferrer"
            class="Footer-bottom-social"
            href="{{ item.link }}"
            title="{{ item.title }}"
        >
          <i class="icon {{ item.logo }}"></i>
        </a>
        {% endfor %}

        <p class="Footer-copyright">&copy;&nbsp;SAP Conversational AI</p>
      </div>
    </div>
  </div>
</footer>
