<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <a class="site-title" rel="author" href="{{ "/concepts" | relative_url }}">Recast.AI Concepts</a>

    <a class="site-title" rel="author" href="{{ "/tutorials" | relative_url }}">Tutorials</a>

    <a class="site-title" rel="author" href="{{ "/api-reference" | relative_url }}">API Reference</a>

    <a class="site-title" rel="author" href="{{ "/faq" | relative_url }}">FAQ</a>

    <span>Recherche somewhere here</span>
  </div>
</header>
