<!-- Nav -->
<style type="text/css" media="screen">
  .nav {
    flex-shrink: 0;
    background-color: lightgrey;
    padding: 0 2rem;
  }

  .nav-header {
    padding-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-link > a {
    color: inherit;
    text-decoration: none;
  }
</style>

<nav class="nav">
  <h3 class="nav-header">{{ site.data.start_builder.title }}</h3>
  {% for item in site.data.start_builder.sections %}
    <div class="nav-link">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </div>
  {% endfor %}

  <h3 class="nav-header">{{ site.data.start_nlp.title }}</h3>
  {% for item in site.data.start_nlp.sections %}
    <div class="nav-link">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </div>
  {% endfor %}

  <h3 class="nav-header">{{ site.data.nlp_lexic.title }}</h3>
  {% for item in site.data.nlp_lexic.sections %}
    <div class="nav-link">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </div>
  {% endfor %}

  <h3 class="nav-header">{{ site.data.bot_builder.title }}</h3>
  {% for item in site.data.bot_builder.sections %}
    <div class="nav-link">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </div>
  {% endfor %}

  <h3 class="nav-header">{{ site.data.bot_connector.title }}</h3>
  {% for item in site.data.bot_connector.sections %}
    <div class="nav-link">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </div>
  {% endfor %}
</nav>
