/*
Secondary
*/
.bg-white {
  background-color: #fff;
}
.bg-teal-dark {
  background-color: $teal-dark;
}
.bg-teal-900 {
  background-color: $teal-900;
}
.bg-teal-500 {
  background-color: $teal-500;
}
.bg-teal-100 {
  background-color: $teal-100;
}

.bg-red-900 {
  background-color: $red-900;
}
.bg-red-500 {
  background-color: $red-500;
}
.bg-red-100 {
  background-color: $red-100;
}

.bg-blue-900 {
  background-color: $blue-900;
}
.bg-blue-500 {
  background-color: $blue-500;
}
.bg-blue-300 {
  background-color: $blue-300;
}
.bg-blue-100 {
  background-color: $blue-100;
}

.c-white {
  color: #fff;
}
.c-teal-900 {
  color: $teal-900;
}
.c-teal-500 {
  color: $teal-500;
}
.c-teal-100 {
  color: $teal-100;
}
.c-teal-50 {
  color: $teal-50;
}

.c-red-900 {
  color: $red-900;
}
.c-red-500 {
  color: $red-500;
}
.c-red-100 {
  color: $red-100;
}

.c-blue-900 {
  color: $blue-900;
}
.c-blue-500 {
  color: $blue-500;
}
.c-blue-100 {
  color: $blue-100;
}

/*
Amber
*/
.bg-amber-900 {
  background-color: $amber-900;
}
.bg-amber-800 {
  background-color: $amber-800;
}
.bg-amber-700 {
  background-color: $amber-700;
}
.bg-amber-600 {
  background-color: $amber-600;
}
.bg-amber-500 {
  background-color: $amber-500;
}
.bg-amber-400 {
  background-color: $amber-400;
}
.bg-amber-300 {
  background-color: $amber-300;
}
.bg-amber-200 {
  background-color: $amber-200;
}
.bg-amber-100 {
  background-color: $amber-100;
}
.bg-amber-50 {
  background-color: $amber-50;
}

/*
Grey
*/
.bg-grey-900 {
  background-color: $grey-900;
}
.bg-grey-800 {
  background-color: $grey-800;
}
.bg-grey-700 {
  background-color: $grey-700;
}
.bg-grey-600 {
  background-color: $grey-600;
}
.bg-grey-500 {
  background-color: $grey-500;
}
.bg-grey-400 {
  background-color: $grey-400;
}
.bg-grey-300 {
  background-color: $grey-300;
}
.bg-grey-200 {
  background-color: $grey-200;
}
.bg-grey-100 {
  background-color: $grey-100;
}
.bg-grey-50 {
  background-color: $grey-50;
}

/*
Amber - Color
*/
.c-amber-900 {
  color: $amber-900;
}
.c-amber-800 {
  color: $amber-800;
}
.c-amber-700 {
  color: $amber-700;
}
.c-amber-600 {
  color: $amber-600;
}
.c-amber-500 {
  color: $amber-500;
}
.c-amber-400 {
  color: $amber-400;
}
.c-amber-300 {
  color: $amber-300;
}
.c-amber-200 {
  color: $amber-200;
}
.c-amber-100 {
  color: $amber-100;
}
.c-amber-50 {
  color: $amber-50;
}

/*
Grey - Color
*/
.c-grey-900 {
  color: $grey-900;
}
.c-grey-800 {
  color: $grey-800;
}
.c-grey-700 {
  color: $grey-700;
}
.c-grey-600 {
  color: $grey-600;
}
.c-grey-500 {
  color: $grey-500;
}
.c-grey-400 {
  color: $grey-400;
}
.c-grey-300 {
  color: $grey-300;
}
.c-grey-200 {
  color: $grey-200;
}
.c-grey-100 {
  color: $grey-100;
}
.c-grey-50 {
  color: $grey-50;
}

/*
 SVG fill color
 */
.fill-blue {
  fill: $blue-500;
}
.fill-grey-light {
  fill: $grey-500;
}
.fill-grey {
  fill: $grey-700;
}
.fill-white {
  fill: #fff;
}
