.Concept {
  display: flex;

  .Concept-content {
    padding: 1.5rem 2rem 3rem 3rem;
    max-width: 900px;

    h1 {
      padding: 1rem 0;
      font-size: 32px;
      font-weight: 400;
    }

    h2 {
      font-size: 24px;
      font-weight: 400;
      border-bottom: 1px solid #eaecef;
      padding: 1rem 0 0.3em 0;
      margin: 1.5em 0 1em 0;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin: 1.5em 0 1em 0;
    }

    strong { font-weight: bold; }
    em { font-style: italic; }

    p {
      padding: 0 0 1em 0;
    }

    a {
      text-decoration: underline;
    }

    img:not(.custom) {
      margin: 0.5rem 0;
      border-radius: 3px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);

      &.noShadow {
        box-shadow: 0 0 0 0;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5rem;
      li { line-height: 1.5rem; }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      thead > tr {
        border-bottom: 1px solid $grey-300;
        th { text-align: left; }
      }

      &.languages-tab {
        thead > tr {
          th { text-align: center; }
        }
        tbody {
          tr {
            td:not(:first-child) {
              text-align: center;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $grey-300;
          td {
            font-size: 13px;
            line-height: 20px;
            padding: 1rem;
          }
        }
      }
    }

  }
}
