.Footer {
  background-color: $grey-100;

  .Footer-top {
    padding: 1rem 5rem;
  }

  .Footer-top-title {
    font-weight: 400;
    padding: 2rem 0 1rem 0;
  }

  .Footer-top-content {
    display: flex;
    flex-direction: column;
  }

  .Footer-top-link {
    text-decoration: none;
    padding: 0.15rem 0;
    color: $grey-500;
    &:hover {
      color: $grey-700;
    }
  }

  .Footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
  }

  .Footer-bottom-logos {
    display: flex;
  }

  .Footer-bottom-social {
    padding: 0 0.4rem;
    color: $grey-600;
    text-decoration: none;
    &:hover {
      color: $grey-800;
    }
  }

  .Footer-bottom-link {
    padding: 0 0.2rem;
    color: $grey-600;
    text-decoration: none;
    &:hover {
      color: $grey-800;
    }
  }

  .Footer-copyright {
    padding-left: 1.3rem;
  }

}
