.Nav {
  padding: 0 2rem;
  width: 300px;
  flex-shrink: 0;
  background-color: $grey-50;

  .Nav-header {
    padding-top: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .Nav-link {
    padding-top: 0.3rem;
  }

  .Nav-link > a {
    color: $grey-700;
    text-decoration: none;

    &.personalData {
      color: $blue-500;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .Nav-title {
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 400;
  }

  .active {
    text-decoration: underline !important;
  }
}
