---
layout: default
---

<div class="Home mb3">
  <div class='Home-menu flex flex-column flex-center flex-content-center flex-wrap'>
    <h1 class='title mb3'>Documentation</h1>
    <div class='menuCardContainer flex flex-center flex-content-center flex-wrap'>
      <a href="{{"/concepts/create-builder-bot" | relative_url }}">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.recast.ai/docs/home/doc-concepts.svg" alt=""/>
          <span>Recast.AI Concepts</span>
        </div>
      </a>
      <a href="https://recast.ai/blog/category/tutorial/">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.recast.ai/docs/home/doc-tutorials.svg" alt=""/>
          <span>Tutorials</span>
        </div>
      </a>
      <a href="https://recast.ai/docs/api-reference/">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.recast.ai/docs/home/doc-man.svg" alt=""/>
          <span>API Reference</span>
        </div>
      </a>
      <a href="{{ "/faq/index" | relative_url }}">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.recast.ai/docs/home/doc-faq.svg" alt=""/>
          <span>FAQ</span>
        </div>
      </a>
    </div>
  </div>

  <div class='Home-content flex flex-center flex-content-center flex-column'>
    <h1 class='title mt4 mb4'>How can we help ?</h1>
    <div class='cardContent flex flex-wrap flex-center flex-content-center mb3'>
      <a href='#'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Get Started with Recast.AI
          </div>
          <div class='card-description mb2'>
            Understand what's the Recast.AI platform and technology and build your first chatbox.
          </div>
          <div class='card-goTo flex flex-center'>
            <span>Lean more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>
        </div>
      </a>

      <a href='#'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Train your bot to understand humain language
          </div>
          <div class='card-description mb2'>
            Understand what's NLP technology and how train your bot to reach a high understanding performance.
          </div>
          <div class='card-goTo flex flex-center'>
            <span>Lean more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>
        </div>
      </a>

      <a href='#'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Build a bot skill
          </div>
          <div class='card-description mb2'>
            Create your first bot skill, and understand how architecture your bot to make it somple and scalable in
            time.
          </div>

          <div class='card-goTo flex flex-center'>
            <span>Lean more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>

        </div>
      </a>

      <a href='#'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Improve and Monitor your bot
          </div>
          <div class='card-description mb2'>
            Learn how monitor your bot during each steps of its existence and continue improving it all the time.
          </div>
          <div class='card-goTo flex flex-center'>
            <span>Lean more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>
        </div>
      </a>
    </div>

    {%- include contact.html -%}

  </div>

  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
</div>
