---
layout: default
---

<div class="Home mb3">
  <div class='Home-menu flex flex-column flex-center flex-content-center flex-wrap'>
    <h1 class='title mb3'>Documentation</h1>
    <div class='menuCardContainer flex flex-center flex-content-center flex-wrap'>
      <a href="{{"/concepts/create-builder-bot" | relative_url }}">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.cai.tools.sap/docs/home/doc-concepts.svg" alt=""/>
          <span>Concepts</span>
        </div>
      </a>
      <a href="https://cai.tools.sap/blog/category/tutorial/">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.cai.tools.sap/docs/home/doc-tutorials.svg" alt=""/>
          <span>Tutorials</span>
        </div>
      </a>
      <a href="https://cai.tools.sap/docs/api-reference/">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.cai.tools.sap/docs/home/doc-man.svg" alt=""/>
          <span>API Reference</span>
        </div>
      </a>
      <a href="{{ "/faq/index" | relative_url }}">
        <div class='menuCard box-shadow-02 rounded mr2 mb2 p2 flex flex-column flex-center flex-content-between'>
          <img src="https://cdn.cai.tools.sap/docs/home/doc-faq.svg" alt=""/>
          <span>FAQ</span>
        </div>
      </a>
    </div>
  </div>

  <div class='Home-content flex flex-center flex-content-center flex-column'>
    <h1 class='title mt4 mb4'>How can we help ?</h1>
    <div class='cardContent flex flex-wrap flex-center flex-content-center mb3'>

      {% comment %} <a href='#'> {% endcomment %}
      {% comment %}   <div class='card m3 rounded p3'> {% endcomment %}
      {% comment %}     <div class='card-title mb2'> {% endcomment %}
      {% comment %}       Get Started with SAP Conversational AI {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}     <div class='card-description mb2'> {% endcomment %}
      {% comment %}       Understand what's the SAP Conversational AI platform and technology and build your first chatbox. {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}     <div class='card-goTo flex flex-center'> {% endcomment %}
      {% comment %}       <span>Lean more </span> {% endcomment %}
      {% comment %}       <span class='icon ion-md-arrow-round-forward ml1'/> {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}   </div> {% endcomment %}
      {% comment %} </a> {% endcomment %}

      <a href='{{ "/concepts/train-your-bot" | relative_url }}'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Train your bot to understand human language
          </div>
          <div class='card-description mb2'>
            Understand NLP technology and how to train your bot to reach high understanding performance.
          </div>
          <div class='card-goTo flex flex-center'>
            <span>Learn more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>
        </div>
      </a>

      <a href='{{ "/concepts/what-skill" | relative_url }}'>
        <div class='card m3 rounded p3'>
          <div class='card-title mb2'>
            Build a bot skill
          </div>
          <div class='card-description mb2'>
            Create your first bot skill and understand how to architect your bot to make it simple and scalable.
          </div>

          <div class='card-goTo flex flex-center'>
            <span>Learn more </span>
            <span class='icon ion-md-arrow-round-forward ml1'/>
          </div>

        </div>
      </a>

      {% comment %} <a href='#'> {% endcomment %}
      {% comment %}   <div class='card m3 rounded p3'> {% endcomment %}
      {% comment %}     <div class='card-title mb2'> {% endcomment %}
      {% comment %}       Improve and Monitor your bot {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}     <div class='card-description mb2'> {% endcomment %}
      {% comment %}       Learn how monitor your bot during each steps of its existence and continue improving it all the time. {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}     <div class='card-goTo flex flex-center'> {% endcomment %}
      {% comment %}       <span>Lean more </span> {% endcomment %}
      {% comment %}       <span class='icon ion-md-arrow-round-forward ml1'/> {% endcomment %}
      {% comment %}     </div> {% endcomment %}
      {% comment %}   </div> {% endcomment %}
      {% comment %} </a> {% endcomment %}
    {% comment %} </div> {% endcomment %}

    {%- include contact.html -%}

  </div>

  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
</div>
